<div class="container">
  <form>
    <div class="row">

      <div class="col-sm">
        <label for= "YearInput">Year: </label> <br>
        <input type="text" name = "YearInput" id = "YearInput" placeholder="Enter the Year" [(ngModel)]="data.Year" >
      </div>

      <div class="col-sm">
        <label for = "NationInput">Nation: </label><br>
        <input type="text" name="NationInput" id = "NationInput" placeholder="Enter the Nation" [(ngModel)]="data.Nation">
      </div>

      <div class="col-sm">
        <label for = "PopInput">Population: </label><br>
        <input type = "text" name="PopInput" id = "PopInput" placeholder="Enter the Population" [(ngModel)]="data.Population">
      </div>

    </div>
  </form>
</div>
